.section-bg {
    background-color: white;
}
.head2 {
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
    font-family: "roboto";
}
.item-img {
    border-radius: 16px;
}
.head21 {
    font-size: 30px;
    color: #323f4b;
    font-weight: 500;
    margin-top: 10px;
}
.link {
    font-size: 26px;
    color: #d0b200;
    font-weight: 500;
}
.item-card {
    border-radius: 16px;
}